import libraries(I provide all libs that I need when make this tasks, if you need some external import them here)

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import max, avg, min
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, desc
from pyspark.sql.functions import when

create local SparkSession

In [2]:
spark = SparkSession.builder.master("local[1]") \
                    .appName('Session.com') \
                    .getOrCreate()

read csv with inferschema

In [3]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("ds_salaries.csv")

read csv one more time with the same code and you will see that it almostly don't take time, because info already in SparkSession and it will not read nothing
from this file

In [4]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("ds_salaries.csv")

write schema of scv on screen

In [5]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

create schema of this scv

In [6]:
data_science_job_salaries_schema = StructType([
    StructField("id", IntegerType(), nullable=False),
    StructField("work_year", IntegerType(), True),
    StructField("experience_level", StringType(), True),
    StructField("employment_type", StringType(), True),
    StructField("job_title", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("salary_currency", StringType(), True),
    StructField("salary_in_usd", IntegerType(), True),
    StructField("employee_residence", StringType(), True),
    StructField("remote_ratio", StringType(), True),
    StructField("company_location", StringType(), True),
    StructField("company_size", StringType(), True)
])

restart kernel without cleaning output and after restarting you need to initialize SparkSession, after initialize start execute only cells from cell with schema=
=StructType.... 
To restart kernel click Kernel, Restart.

read ds_salaries with predefined schema and compare results from this cell and cell with inferSchema

In [7]:
df_with_schema = spark.read.csv("ds_salaries.csv", header=True, schema=data_science_job_salaries_schema)

this happens because read operation is lazy(transformation), but if you use inferschema it start to be action that will create Spark Job, because Spark need to loop throw all file to check datatypes for all columns and this can harm to your code(if we compare to parquet, it will also go to check data types, but parquet provide meta information, so Spark will not go throw all file, he will just read meta information, but csv don't provide such meta information). Also header make Spark to create one more Spark Job to check first line
to define name of columns and remember to skeep it when reading. Actual reading start when you will use first action. More about Spark Jobs you will see in next topic

write schema of scv on screen one more time and compare with previous

In [8]:
df_with_schema.printSchema()

root
 |-- id: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: string (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

now continue to work with one of the dataframes that you create

print data in dataframe using df.show

In [9]:
df = df_with_schema
df.show(1, vertical=True)

-RECORD 0----------------------------
 id                 | 0
 work_year          | 2020
 experience_level   | MI
 employment_type    | FT
 job_title          | Data Scientist
 salary             | 70000
 salary_currency    | EUR
 salary_in_usd      | 79833
 employee_residence | DE
 remote_ratio       | 0
 company_location   | DE
 company_size       | L
only showing top 1 row

print data in dataframe using display(df.toPandas())

In [10]:
display(df.toPandas())

,id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

create df_job_title that consists from all job_titles without duplicates

In [24]:
df_job_title = df.select('job_title').distinct()

print all rows from df_job_titles without truncating jobs

In [26]:
df_job_title.show(df_job_title.count(), vertical=True, truncate=False)

-RECORD 0---------------------------------------------
 job_title | 3D Computer Vision Researcher
-RECORD 1---------------------------------------------
 job_title | Lead Data Engineer
-RECORD 2---------------------------------------------
 job_title | Head of Machine Learning
-RECORD 3---------------------------------------------
 job_title | Data Specialist
-RECORD 4---------------------------------------------
 job_title | Data Analytics Lead
-RECORD 5---------------------------------------------
 job_title | Machine Learning Scientist
-RECORD 6---------------------------------------------
 job_title | Lead Data Analyst
-RECORD 7---------------------------------------------
 job_title | Data Engineering Manager
-RECORD 8---------------------------------------------
 job_title | Staff Data Scientist
-RECORD 9---------------------------------------------
 job_title | ETL Developer
-RECORD 10--------------------------------------------
 job_title | Director of Data Engineering
-RECORD 11--------------------------------------------
 job_title | Product Data Analyst
-RECORD 12--------------------------------------------
 job_title | Principal Data Scientist
-RECORD 13--------------------------------------------
 job_title | AI Scientist
-RECORD 14--------------------------------------------
 job_title | Director of Data Science
-RECORD 15--------------------------------------------
 job_title | Machine Learning Engineer
-RECORD 16--------------------------------------------
 job_title | Lead Data Scientist
-RECORD 17--------------------------------------------
 job_title | Machine Learning Infrastructure Engineer
-RECORD 18--------------------------------------------
 job_title | Data Science Engineer
-RECORD 19--------------------------------------------
 job_title | Machine Learning Manager
-RECORD 20--------------------------------------------
 job_title | Research Scientist
-RECORD 21--------------------------------------------
 job_title | Head of Data
-RECORD 22--------------------------------------------
 job_title | Cloud Data Engineer
-RECORD 23--------------------------------------------
 job_title | Machine Learning Developer
-RECORD 24--------------------------------------------
 job_title | Data Scientist
-RECORD 25--------------------------------------------
 job_title | Finance Data Analyst
-RECORD 26--------------------------------------------
 job_title | Data Analyst
-RECORD 27--------------------------------------------
 job_title | Data Analytics Engineer
-RECORD 28--------------------------------------------
 job_title | Data Science Consultant
-RECORD 29--------------------------------------------
 job_title | Principal Data Engineer
-RECORD 30--------------------------------------------
 job_title | Lead Machine Learning Engineer
-RECORD 31--------------------------------------------
 job_title | ML Engineer
-RECORD 32--------------------------------------------
 job_title | Analytics Engineer
-RECORD 33--------------------------------------------
 job_title | Data Science Manager
-RECORD 34--------------------------------------------
 job_title | Business Data Analyst
-RECORD 35--------------------------------------------
 job_title | Principal Data Analyst
-RECORD 36--------------------------------------------
 job_title | Applied Machine Learning Scientist
-RECORD 37--------------------------------------------
 job_title | Financial Data Analyst
-RECORD 38--------------------------------------------
 job_title | Data Analytics Manager
-RECORD 39--------------------------------------------
 job_title | Computer Vision Engineer
-RECORD 40--------------------------------------------
 job_title | Computer Vision Software Engineer
-RECORD 41--------------------------------------------
 job_title | Big Data Engineer
-RECORD 42--------------------------------------------
 job_title | Head of Data Science
-RECORD 43--------------------------------------------
 job_title | NLP Engineer
-RECORD 44--------------------------------------------
 job_title | Big Data Architect
-RECORD 45--------------------------------------------
 job_title | Applied Data Scientist
-RECORD 46--------------------------------------------
 job_title | Data Architect
-RECORD 47--------------------------------------------
 job_title | BI Data Analyst
-RECORD 48--------------------------------------------
 job_title | Marketing Data Analyst
-RECORD 49--------------------------------------------
 job_title | Data Engineer

create  df_analytic that will consists from max, avg, min USD salaries for all job_titles using groupBy. name of fields is avg_salary, min_salary, max_salary

In [27]:
df_analytic = (df.groupBy("job_title") .agg(
        avg("salary_in_usd").alias("avg_salary"), 
        min("salary_in_usd").alias("min_salary"), 
        max("salary_in_usd").alias("max_salary"))
)

print all rows from df_analytic without trancating jobs

In [28]:
df_analytic.show(df_analytic.count(), vertical=True, truncate=False)

-RECORD 0----------------------------------------------
 job_title  | 3D Computer Vision Researcher
 avg_salary | 5409.0
 min_salary | 5409
 max_salary | 5409
-RECORD 1----------------------------------------------
 job_title  | Lead Data Engineer
 avg_salary | 139724.5
 min_salary | 56000
 max_salary | 276000
-RECORD 2----------------------------------------------
 job_title  | Head of Machine Learning
 avg_salary | 79039.0
 min_salary | 79039
 max_salary | 79039
-RECORD 3----------------------------------------------
 job_title  | Data Specialist
 avg_salary | 165000.0
 min_salary | 165000
 max_salary | 165000
-RECORD 4----------------------------------------------
 job_title  | Data Analytics Lead
 avg_salary | 405000.0
 min_salary | 405000
 max_salary | 405000
-RECORD 5----------------------------------------------
 job_title  | Machine Learning Scientist
 avg_salary | 158412.5
 min_salary | 12000
 max_salary | 260000
-RECORD 6----------------------------------------------
 job_title  | Lead Data Analyst
 avg_salary | 92203.0
 min_salary | 19609
 max_salary | 170000
-RECORD 7----------------------------------------------
 job_title  | Data Engineering Manager
 avg_salary | 123227.2
 min_salary | 59303
 max_salary | 174000
-RECORD 8----------------------------------------------
 job_title  | Staff Data Scientist
 avg_salary | 105000.0
 min_salary | 105000
 max_salary | 105000
-RECORD 9----------------------------------------------
 job_title  | ETL Developer
 avg_salary | 54957.0
 min_salary | 54957
 max_salary | 54957
-RECORD 10---------------------------------------------
 job_title  | Director of Data Engineering
 avg_salary | 156738.0
 min_salary | 113476
 max_salary | 200000
-RECORD 11---------------------------------------------
 job_title  | Product Data Analyst
 avg_salary | 13036.0
 min_salary | 6072
 max_salary | 20000
-RECORD 12---------------------------------------------
 job_title  | Principal Data Scientist
 avg_salary | 215242.42857142858
 min_salary | 148261
 max_salary | 416000
-RECORD 13---------------------------------------------
 job_title  | AI Scientist
 avg_salary | 66135.57142857143
 min_salary | 12000
 max_salary | 200000
-RECORD 14---------------------------------------------
 job_title  | Director of Data Science
 avg_salary | 195074.0
 min_salary | 130026
 max_salary | 325000
-RECORD 15---------------------------------------------
 job_title  | Machine Learning Engineer
 avg_salary | 104880.14634146342
 min_salary | 20000
 max_salary | 250000
-RECORD 16---------------------------------------------
 job_title  | Lead Data Scientist
 avg_salary | 115190.0
 min_salary | 40570
 max_salary | 190000
-RECORD 17---------------------------------------------
 job_title  | Machine Learning Infrastructure Engineer
 avg_salary | 101145.0
 min_salary | 50180
 max_salary | 195000
-RECORD 18---------------------------------------------
 job_title  | Data Science Engineer
 avg_salary | 75803.33333333333
 min_salary | 40189
 max_salary | 127221
-RECORD 19---------------------------------------------
 job_title  | Machine Learning Manager
 avg_salary | 117104.0
 min_salary | 117104
 max_salary | 117104
-RECORD 20---------------------------------------------
 job_title  | Research Scientist
 avg_salary | 109019.5
 min_salary | 42000
 max_salary | 450000
-RECORD 21---------------------------------------------
 job_title  | Head of Data
 avg_salary | 160162.6
 min_salary | 32974
 max_salary | 235000
-RECORD 22---------------------------------------------
 job_title  | Cloud Data Engineer
 avg_salary | 124647.0
 min_salary | 89294
 max_salary | 160000
-RECORD 23---------------------------------------------
 job_title  | Machine Learning Developer
 avg_salary | 85860.66666666667
 min_salary | 78791
 max_salary | 100000
-RECORD 24---------------------------------------------
 job_title  | Data Scientist
 avg_salary | 108187.83216783217
 min_salary | 2859
 max_salary | 412000
-RECORD 25---------------------------------------------
 job_title  | Finance Data Analyst
 avg_salary | 61896.0
 min_salary | 61896
 max_salary | 61896
-RECORD 26---------------------------------------------
 job_title  | Data Analyst
 avg_salary | 92893.06185567011
 min_salary | 6072
 max_salary | 200000
-RECORD 27---------------------------------------------
 job_title  | Data Analytics Engineer
 avg_salary | 64799.25
 min_salary | 20000
 max_salary | 110000
-RECORD 28---------------------------------------------
 job_title  | Data Science Consultant
 avg_salary | 69420.71428571429
 min_salary | 5707
 max_salary | 103000
-RECORD 29---------------------------------------------
 job_title  | Principal Data Engineer
 avg_salary | 328333.3333333333
 min_salary | 185000
 max_salary | 600000
-RECORD 30---------------------------------------------
 job_title  | Lead Machine Learning Engineer
 avg_salary | 87932.0
 min_salary | 87932
 max_salary | 87932
-RECORD 31---------------------------------------------
 job_title  | ML Engineer
 avg_salary | 117504.0
 min_salary | 15966
 max_salary | 270000
-RECORD 32---------------------------------------------
 job_title  | Analytics Engineer
 avg_salary | 175000.0
 min_salary | 135000
 max_salary | 205300
-RECORD 33---------------------------------------------
 job_title  | Data Science Manager
 avg_salary | 158328.5
 min_salary | 54094
 max_salary | 241000
-RECORD 34---------------------------------------------
 job_title  | Business Data Analyst
 avg_salary | 76691.2
 min_salary | 18442
 max_salary | 135000
-RECORD 35---------------------------------------------
 job_title  | Principal Data Analyst
 avg_salary | 122500.0
 min_salary | 75000
 max_salary | 170000
-RECORD 36---------------------------------------------
 job_title  | Applied Machine Learning Scientist
 avg_salary | 142068.75
 min_salary | 31875
 max_salary | 423000
-RECORD 37---------------------------------------------
 job_title  | Financial Data Analyst
 avg_salary | 275000.0
 min_salary | 100000
 max_salary | 450000
-RECORD 38---------------------------------------------
 job_title  | Data Analytics Manager
 avg_salary | 127134.28571428571
 min_salary | 105400
 max_salary | 150260
-RECORD 39---------------------------------------------
 job_title  | Computer Vision Engineer
 avg_salary | 44419.333333333336
 min_salary | 10000
 max_salary | 125000
-RECORD 40---------------------------------------------
 job_title  | Computer Vision Software Engineer
 avg_salary | 105248.66666666667
 min_salary | 70000
 max_salary | 150000
-RECORD 41---------------------------------------------
 job_title  | Big Data Engineer
 avg_salary | 51974.0
 min_salary | 5882
 max_salary | 114047
-RECORD 42---------------------------------------------
 job_title  | Head of Data Science
 avg_salary | 146718.75
 min_salary | 85000
 max_salary | 224000
-RECORD 43---------------------------------------------
 job_title  | NLP Engineer
 avg_salary | 37236.0
 min_salary | 37236
 max_salary | 37236
-RECORD 44---------------------------------------------
 job_title  | Big Data Architect
 avg_salary | 99703.0
 min_salary | 99703
 max_salary | 99703
-RECORD 45---------------------------------------------
 job_title  | Applied Data Scientist
 avg_salary | 175655.0
 min_salary | 54238
 max_salary | 380000
-RECORD 46---------------------------------------------
 job_title  | Data Architect
 avg_salary | 177873.9090909091
 min_salary | 90700
 max_salary | 266400
-RECORD 47---------------------------------------------
 job_title  | BI Data Analyst
 avg_salary | 74755.16666666667
 min_salary | 9272
 max_salary | 150000
-RECORD 48---------------------------------------------
 job_title  | Marketing Data Analyst
 avg_salary | 88654.0
 min_salary | 88654
 max_salary | 88654
-RECORD 49---------------------------------------------
 job_title  | Data Engineer
 avg_salary | 112725.0
 min_salary | 4000
 max_salary | 324000

now you need to add in df_analytic column row_id, that will show order of all job_titles depending on avg salary. they should be descending

In [30]:
df_analytic = df_analytic.withColumn("row_id", row_number().over(Window.orderBy(desc("avg_salary"))))

print all data from df_analytic

In [31]:
df_analytic.show(df_analytic.count(), vertical=True, truncate=False)

-RECORD 0----------------------------------------------
 job_title  | Data Analytics Lead
 avg_salary | 405000.0
 min_salary | 405000
 max_salary | 405000
 row_id     | 1
-RECORD 1----------------------------------------------
 job_title  | Principal Data Engineer
 avg_salary | 328333.3333333333
 min_salary | 185000
 max_salary | 600000
 row_id     | 2
-RECORD 2----------------------------------------------
 job_title  | Financial Data Analyst
 avg_salary | 275000.0
 min_salary | 100000
 max_salary | 450000
 row_id     | 3
-RECORD 3----------------------------------------------
 job_title  | Principal Data Scientist
 avg_salary | 215242.42857142858
 min_salary | 148261
 max_salary | 416000
 row_id     | 4
-RECORD 4----------------------------------------------
 job_title  | Director of Data Science
 avg_salary | 195074.0
 min_salary | 130026
 max_salary | 325000
 row_id     | 5
-RECORD 5----------------------------------------------
 job_title  | Data Architect
 avg_salary | 177873.9090909091
 min_salary | 90700
 max_salary | 266400
 row_id     | 6
-RECORD 6----------------------------------------------
 job_title  | Applied Data Scientist
 avg_salary | 175655.0
 min_salary | 54238
 max_salary | 380000
 row_id     | 7
-RECORD 7----------------------------------------------
 job_title  | Analytics Engineer
 avg_salary | 175000.0
 min_salary | 135000
 max_salary | 205300
 row_id     | 8
-RECORD 8----------------------------------------------
 job_title  | Data Specialist
 avg_salary | 165000.0
 min_salary | 165000
 max_salary | 165000
 row_id     | 9
-RECORD 9----------------------------------------------
 job_title  | Head of Data
 avg_salary | 160162.6
 min_salary | 32974
 max_salary | 235000
 row_id     | 10
-RECORD 10---------------------------------------------
 job_title  | Machine Learning Scientist
 avg_salary | 158412.5
 min_salary | 12000
 max_salary | 260000
 row_id     | 11
-RECORD 11---------------------------------------------
 job_title  | Data Science Manager
 avg_salary | 158328.5
 min_salary | 54094
 max_salary | 241000
 row_id     | 12
-RECORD 12---------------------------------------------
 job_title  | Director of Data Engineering
 avg_salary | 156738.0
 min_salary | 113476
 max_salary | 200000
 row_id     | 13
-RECORD 13---------------------------------------------
 job_title  | Head of Data Science
 avg_salary | 146718.75
 min_salary | 85000
 max_salary | 224000
 row_id     | 14
-RECORD 14---------------------------------------------
 job_title  | Applied Machine Learning Scientist
 avg_salary | 142068.75
 min_salary | 31875
 max_salary | 423000
 row_id     | 15
-RECORD 15---------------------------------------------
 job_title  | Lead Data Engineer
 avg_salary | 139724.5
 min_salary | 56000
 max_salary | 276000
 row_id     | 16
-RECORD 16---------------------------------------------
 job_title  | Data Analytics Manager
 avg_salary | 127134.28571428571
 min_salary | 105400
 max_salary | 150260
 row_id     | 17
-RECORD 17---------------------------------------------
 job_title  | Cloud Data Engineer
 avg_salary | 124647.0
 min_salary | 89294
 max_salary | 160000
 row_id     | 18
-RECORD 18---------------------------------------------
 job_title  | Data Engineering Manager
 avg_salary | 123227.2
 min_salary | 59303
 max_salary | 174000
 row_id     | 19
-RECORD 19---------------------------------------------
 job_title  | Principal Data Analyst
 avg_salary | 122500.0
 min_salary | 75000
 max_salary | 170000
 row_id     | 20
-RECORD 20---------------------------------------------
 job_title  | ML Engineer
 avg_salary | 117504.0
 min_salary | 15966
 max_salary | 270000
 row_id     | 21
-RECORD 21---------------------------------------------
 job_title  | Machine Learning Manager
 avg_salary | 117104.0
 min_salary | 117104
 max_salary | 117104
 row_id     | 22
-RECORD 22---------------------------------------------
 job_title  | Lead Data Scientist
 avg_salary | 115190.0
 min_salary | 40570
 max_salary | 190000
 row_id     | 23
-RECORD 23---------------------------------------------
 job_title  | Data Engineer
 avg_salary | 112725.0
 min_salary | 4000
 max_salary | 324000
 row_id     | 24
-RECORD 24---------------------------------------------
 job_title  | Research Scientist
 avg_salary | 109019.5
 min_salary | 42000
 max_salary | 450000
 row_id     | 25
-RECORD 25---------------------------------------------
 job_title  | Data Scientist
 avg_salary | 108187.83216783217
 min_salary | 2859
 max_salary | 412000
 row_id     | 26
-RECORD 26---------------------------------------------
 job_title  | Computer Vision Software Engineer
 avg_salary | 105248.66666666667
 min_salary | 70000
 max_salary | 150000
 row_id     | 27
-RECORD 27---------------------------------------------
 job_title  | Staff Data Scientist
 avg_salary | 105000.0
 min_salary | 105000
 max_salary | 105000
 row_id     | 28
-RECORD 28---------------------------------------------
 job_title  | Machine Learning Engineer
 avg_salary | 104880.14634146342
 min_salary | 20000
 max_salary | 250000
 row_id     | 29
-RECORD 29---------------------------------------------
 job_title  | Machine Learning Infrastructure Engineer
 avg_salary | 101145.0
 min_salary | 50180
 max_salary | 195000
 row_id     | 30
-RECORD 30---------------------------------------------
 job_title  | Big Data Architect
 avg_salary | 99703.0
 min_salary | 99703
 max_salary | 99703
 row_id     | 31
-RECORD 31---------------------------------------------
 job_title  | Data Analyst
 avg_salary | 92893.06185567011
 min_salary | 6072
 max_salary | 200000
 row_id     | 32
-RECORD 32---------------------------------------------
 job_title  | Lead Data Analyst
 avg_salary | 92203.0
 min_salary | 19609
 max_salary | 170000
 row_id     | 33
-RECORD 33---------------------------------------------
 job_title  | Marketing Data Analyst
 avg_salary | 88654.0
 min_salary | 88654
 max_salary | 88654
 row_id     | 34
-RECORD 34---------------------------------------------
 job_title  | Lead Machine Learning Engineer
 avg_salary | 87932.0
 min_salary | 87932
 max_salary | 87932
 row_id     | 35
-RECORD 35---------------------------------------------
 job_title  | Machine Learning Developer
 avg_salary | 85860.66666666667
 min_salary | 78791
 max_salary | 100000
 row_id     | 36
-RECORD 36---------------------------------------------
 job_title  | Head of Machine Learning
 avg_salary | 79039.0
 min_salary | 79039
 max_salary | 79039
 row_id     | 37
-RECORD 37---------------------------------------------
 job_title  | Business Data Analyst
 avg_salary | 76691.2
 min_salary | 18442
 max_salary | 135000
 row_id     | 38
-RECORD 38---------------------------------------------
 job_title  | Data Science Engineer
 avg_salary | 75803.33333333333
 min_salary | 40189
 max_salary | 127221
 row_id     | 39
-RECORD 39---------------------------------------------
 job_title  | BI Data Analyst
 avg_salary | 74755.16666666667
 min_salary | 9272
 max_salary | 150000
 row_id     | 40
-RECORD 40---------------------------------------------
 job_title  | Data Science Consultant
 avg_salary | 69420.71428571429
 min_salary | 5707
 max_salary | 103000
 row_id     | 41
-RECORD 41---------------------------------------------
 job_title  | AI Scientist
 avg_salary | 66135.57142857143
 min_salary | 12000
 max_salary | 200000
 row_id     | 42
-RECORD 42---------------------------------------------
 job_title  | Data Analytics Engineer
 avg_salary | 64799.25
 min_salary | 20000
 max_salary | 110000
 row_id     | 43
-RECORD 43---------------------------------------------
 job_title  | Finance Data Analyst
 avg_salary | 61896.0
 min_salary | 61896
 max_salary | 61896
 row_id     | 44
-RECORD 44---------------------------------------------
 job_title  | ETL Developer
 avg_salary | 54957.0
 min_salary | 54957
 max_salary | 54957
 row_id     | 45
-RECORD 45---------------------------------------------
 job_title  | Big Data Engineer
 avg_salary | 51974.0
 min_salary | 5882
 max_salary | 114047
 row_id     | 46
-RECORD 46---------------------------------------------
 job_title  | Computer Vision Engineer
 avg_salary | 44419.333333333336
 min_salary | 10000
 max_salary | 125000
 row_id     | 47
-RECORD 47---------------------------------------------
 job_title  | NLP Engineer
 avg_salary | 37236.0
 min_salary | 37236
 max_salary | 37236
 row_id     | 48
-RECORD 48---------------------------------------------
 job_title  | Product Data Analyst
 avg_salary | 13036.0
 min_salary | 6072
 max_salary | 20000
 row_id     | 49
-RECORD 49---------------------------------------------
 job_title  | 3D Computer Vision Researcher
 avg_salary | 5409.0
 min_salary | 5409
 max_salary | 5409
 row_id     | 50

it isn't beautifull, so we need to put now row_id on first place in df_analytic

In [32]:
reordered_columns = ["row_id", "job_title", "avg_salary", "min_salary", "max_salary"]
df_analytic = df_analytic.select(reordered_columns)

print df_analytic now

In [33]:
df_analytic.show(df_analytic.count(), vertical=True, truncate=False)

-RECORD 0----------------------------------------------
 row_id     | 1
 job_title  | Data Analytics Lead
 avg_salary | 405000.0
 min_salary | 405000
 max_salary | 405000
-RECORD 1----------------------------------------------
 row_id     | 2
 job_title  | Principal Data Engineer
 avg_salary | 328333.3333333333
 min_salary | 185000
 max_salary | 600000
-RECORD 2----------------------------------------------
 row_id     | 3
 job_title  | Financial Data Analyst
 avg_salary | 275000.0
 min_salary | 100000
 max_salary | 450000
-RECORD 3----------------------------------------------
 row_id     | 4
 job_title  | Principal Data Scientist
 avg_salary | 215242.42857142858
 min_salary | 148261
 max_salary | 416000
-RECORD 4----------------------------------------------
 row_id     | 5
 job_title  | Director of Data Science
 avg_salary | 195074.0
 min_salary | 130026
 max_salary | 325000
-RECORD 5----------------------------------------------
 row_id     | 6
 job_title  | Data Architect
 avg_salary | 177873.9090909091
 min_salary | 90700
 max_salary | 266400
-RECORD 6----------------------------------------------
 row_id     | 7
 job_title  | Applied Data Scientist
 avg_salary | 175655.0
 min_salary | 54238
 max_salary | 380000
-RECORD 7----------------------------------------------
 row_id     | 8
 job_title  | Analytics Engineer
 avg_salary | 175000.0
 min_salary | 135000
 max_salary | 205300
-RECORD 8----------------------------------------------
 row_id     | 9
 job_title  | Data Specialist
 avg_salary | 165000.0
 min_salary | 165000
 max_salary | 165000
-RECORD 9----------------------------------------------
 row_id     | 10
 job_title  | Head of Data
 avg_salary | 160162.6
 min_salary | 32974
 max_salary | 235000
-RECORD 10---------------------------------------------
 row_id     | 11
 job_title  | Machine Learning Scientist
 avg_salary | 158412.5
 min_salary | 12000
 max_salary | 260000
-RECORD 11---------------------------------------------
 row_id     | 12
 job_title  | Data Science Manager
 avg_salary | 158328.5
 min_salary | 54094
 max_salary | 241000
-RECORD 12---------------------------------------------
 row_id     | 13
 job_title  | Director of Data Engineering
 avg_salary | 156738.0
 min_salary | 113476
 max_salary | 200000
-RECORD 13---------------------------------------------
 row_id     | 14
 job_title  | Head of Data Science
 avg_salary | 146718.75
 min_salary | 85000
 max_salary | 224000
-RECORD 14---------------------------------------------
 row_id     | 15
 job_title  | Applied Machine Learning Scientist
 avg_salary | 142068.75
 min_salary | 31875
 max_salary | 423000
-RECORD 15---------------------------------------------
 row_id     | 16
 job_title  | Lead Data Engineer
 avg_salary | 139724.5
 min_salary | 56000
 max_salary | 276000
-RECORD 16---------------------------------------------
 row_id     | 17
 job_title  | Data Analytics Manager
 avg_salary | 127134.28571428571
 min_salary | 105400
 max_salary | 150260
-RECORD 17---------------------------------------------
 row_id     | 18
 job_title  | Cloud Data Engineer
 avg_salary | 124647.0
 min_salary | 89294
 max_salary | 160000
-RECORD 18---------------------------------------------
 row_id     | 19
 job_title  | Data Engineering Manager
 avg_salary | 123227.2
 min_salary | 59303
 max_salary | 174000
-RECORD 19---------------------------------------------
 row_id     | 20
 job_title  | Principal Data Analyst
 avg_salary | 122500.0
 min_salary | 75000
 max_salary | 170000
-RECORD 20---------------------------------------------
 row_id     | 21
 job_title  | ML Engineer
 avg_salary | 117504.0
 min_salary | 15966
 max_salary | 270000
-RECORD 21---------------------------------------------
 row_id     | 22
 job_title  | Machine Learning Manager
 avg_salary | 117104.0
 min_salary | 117104
 max_salary | 117104
-RECORD 22---------------------------------------------
 row_id     | 23
 job_title  | Lead Data Scientist
 avg_salary | 115190.0
 min_salary | 40570
 max_salary | 190000
-RECORD 23---------------------------------------------
 row_id     | 24
 job_title  | Data Engineer
 avg_salary | 112725.0
 min_salary | 4000
 max_salary | 324000
-RECORD 24---------------------------------------------
 row_id     | 25
 job_title  | Research Scientist
 avg_salary | 109019.5
 min_salary | 42000
 max_salary | 450000
-RECORD 25---------------------------------------------
 row_id     | 26
 job_title  | Data Scientist
 avg_salary | 108187.83216783217
 min_salary | 2859
 max_salary | 412000
-RECORD 26---------------------------------------------
 row_id     | 27
 job_title  | Computer Vision Software Engineer
 avg_salary | 105248.66666666667
 min_salary | 70000
 max_salary | 150000
-RECORD 27---------------------------------------------
 row_id     | 28
 job_title  | Staff Data Scientist
 avg_salary | 105000.0
 min_salary | 105000
 max_salary | 105000
-RECORD 28---------------------------------------------
 row_id     | 29
 job_title  | Machine Learning Engineer
 avg_salary | 104880.14634146342
 min_salary | 20000
 max_salary | 250000
-RECORD 29---------------------------------------------
 row_id     | 30
 job_title  | Machine Learning Infrastructure Engineer
 avg_salary | 101145.0
 min_salary | 50180
 max_salary | 195000
-RECORD 30---------------------------------------------
 row_id     | 31
 job_title  | Big Data Architect
 avg_salary | 99703.0
 min_salary | 99703
 max_salary | 99703
-RECORD 31---------------------------------------------
 row_id     | 32
 job_title  | Data Analyst
 avg_salary | 92893.06185567011
 min_salary | 6072
 max_salary | 200000
-RECORD 32---------------------------------------------
 row_id     | 33
 job_title  | Lead Data Analyst
 avg_salary | 92203.0
 min_salary | 19609
 max_salary | 170000
-RECORD 33---------------------------------------------
 row_id     | 34
 job_title  | Marketing Data Analyst
 avg_salary | 88654.0
 min_salary | 88654
 max_salary | 88654
-RECORD 34---------------------------------------------
 row_id     | 35
 job_title  | Lead Machine Learning Engineer
 avg_salary | 87932.0
 min_salary | 87932
 max_salary | 87932
-RECORD 35---------------------------------------------
 row_id     | 36
 job_title  | Machine Learning Developer
 avg_salary | 85860.66666666667
 min_salary | 78791
 max_salary | 100000
-RECORD 36---------------------------------------------
 row_id     | 37
 job_title  | Head of Machine Learning
 avg_salary | 79039.0
 min_salary | 79039
 max_salary | 79039
-RECORD 37---------------------------------------------
 row_id     | 38
 job_title  | Business Data Analyst
 avg_salary | 76691.2
 min_salary | 18442
 max_salary | 135000
-RECORD 38---------------------------------------------
 row_id     | 39
 job_title  | Data Science Engineer
 avg_salary | 75803.33333333333
 min_salary | 40189
 max_salary | 127221
-RECORD 39---------------------------------------------
 row_id     | 40
 job_title  | BI Data Analyst
 avg_salary | 74755.16666666667
 min_salary | 9272
 max_salary | 150000
-RECORD 40---------------------------------------------
 row_id     | 41
 job_title  | Data Science Consultant
 avg_salary | 69420.71428571429
 min_salary | 5707
 max_salary | 103000
-RECORD 41---------------------------------------------
 row_id     | 42
 job_title  | AI Scientist
 avg_salary | 66135.57142857143
 min_salary | 12000
 max_salary | 200000
-RECORD 42---------------------------------------------
 row_id     | 43
 job_title  | Data Analytics Engineer
 avg_salary | 64799.25
 min_salary | 20000
 max_salary | 110000
-RECORD 43---------------------------------------------
 row_id     | 44
 job_title  | Finance Data Analyst
 avg_salary | 61896.0
 min_salary | 61896
 max_salary | 61896
-RECORD 44---------------------------------------------
 row_id     | 45
 job_title  | ETL Developer
 avg_salary | 54957.0
 min_salary | 54957
 max_salary | 54957
-RECORD 45---------------------------------------------
 row_id     | 46
 job_title  | Big Data Engineer
 avg_salary | 51974.0
 min_salary | 5882
 max_salary | 114047
-RECORD 46---------------------------------------------
 row_id     | 47
 job_title  | Computer Vision Engineer
 avg_salary | 44419.333333333336
 min_salary | 10000
 max_salary | 125000
-RECORD 47---------------------------------------------
 row_id     | 48
 job_title  | NLP Engineer
 avg_salary | 37236.0
 min_salary | 37236
 max_salary | 37236
-RECORD 48---------------------------------------------
 row_id     | 49
 job_title  | Product Data Analyst
 avg_salary | 13036.0
 min_salary | 6072
 max_salary | 20000
-RECORD 49---------------------------------------------
 row_id     | 50
 job_title  | 3D Computer Vision Researcher
 avg_salary | 5409.0
 min_salary | 5409
 max_salary | 5409

here you need to create df_exp_lvl with the biggest usd_salary(biggest_salary) for each experience_level(you need to save all fields like in entire dataframe)

In [23]:
df_exp_lvl = (df.withColumn("salary_rank",row_number().over(Window.partitionBy("experience_level").orderBy(col("salary_in_usd").desc())),)
    .filter(col("salary_rank") == 1)
    .drop("salary_rank")
    .withColumnRenamed("salary", "biggest_salary")
)

print here df_exp_lvl

In [24]:
df_exp_lvl.show(df_exp_lvl.count(), vertical=True, truncate=False)

-RECORD 0---------------------------------------
 id                 | 37
 work_year          | 2020
 experience_level   | EN
 employment_type    | FT
 job_title          | Machine Learning Engineer
 biggest_salary     | 250000
 salary_currency    | USD
 salary_in_usd      | 250000
 employee_residence | US
 remote_ratio       | 50
 company_location   | US
 company_size       | L
-RECORD 1---------------------------------------
 id                 | 252
 work_year          | 2021
 experience_level   | EX
 employment_type    | FT
 job_title          | Principal Data Engineer
 biggest_salary     | 600000
 salary_currency    | USD
 salary_in_usd      | 600000
 employee_residence | US
 remote_ratio       | 100
 company_location   | US
 company_size       | L
-RECORD 2---------------------------------------
 id                 | 33
 work_year          | 2020
 experience_level   | MI
 employment_type    | FT
 job_title          | Research Scientist
 biggest_salary     | 450000
 salary_currency    | USD
 salary_in_usd      | 450000
 employee_residence | US
 remote_ratio       | 0
 company_location   | US
 company_size       | M
-RECORD 3---------------------------------------
 id                 | 63
 work_year          | 2020
 experience_level   | SE
 employment_type    | FT
 job_title          | Data Scientist
 biggest_salary     | 412000
 salary_currency    | USD
 salary_in_usd      | 412000
 employee_residence | US
 remote_ratio       | 100
 company_location   | US
 company_size       | L

create df_best that consists from rows where salary of guy same as biggest salary for other people in his exp_lvl and choose only columns: id, experience_level, biggest_salary, employee_residence

In [11]:
df_max_salary_grouped_by_exp_lvl = df.groupBy("experience_level").agg(max("salary").alias("max_salary"))
df_best = (df
            .join(
                df_max_salary_grouped_by_exp_lvl, 
                (df["salary"] == df_max_salary_grouped_by_exp_lvl["max_salary"])
                & (df["experience_level"] == df_max_salary_grouped_by_exp_lvl["experience_level"]),
                how="left_semi")
            .select("id", "experience_level", col("salary").alias("biggest_salary"), "employee_residence")
)

print df_best

In [27]:
df_best.show(df_best.count(), vertical=True, truncate=False)

-RECORD 0----------------------
 id                 | 16
 experience_level   | EN
 biggest_salary     | 4450000
 employee_residence | JP
-RECORD 1----------------------
 id                 | 177
 experience_level   | MI
 biggest_salary     | 30400000
 employee_residence | CL
-RECORD 2----------------------
 id                 | 285
 experience_level   | SE
 biggest_salary     | 7000000
 employee_residence | IN
-RECORD 3----------------------
 id                 | 384
 experience_level   | EX
 biggest_salary     | 6000000
 employee_residence | IN

drop duplicates if exist by experience_level

In [28]:
df_best = df_best.drop_duplicates(["experience_level"])

print df_best

In [29]:
df_best.show(df_best.count(), vertical=True, truncate=False)

-RECORD 0----------------------
 id                 | 16
 experience_level   | EN
 biggest_salary     | 4450000
 employee_residence | JP
-RECORD 1----------------------
 id                 | 384
 experience_level   | EX
 biggest_salary     | 6000000
 employee_residence | IN
-RECORD 2----------------------
 id                 | 177
 experience_level   | MI
 biggest_salary     | 30400000
 employee_residence | CL
-RECORD 3----------------------
 id                 | 285
 experience_level   | SE
 biggest_salary     | 7000000
 employee_residence | IN

create df_new_best from df_best without id, and make the next: when exp_level = MI we want middle, when SE we want senior, else Null

In [12]:
df_new_best = df_best.drop("id").withColumn("experience_level",
                                  when(df_best["experience_level"] == "MI","middle")
                                 .when(df_best["experience_level"] == "SE","senior")
                                 )

print df_new_best

In [37]:
df_new_best.show(df_new_best.count(), vertical=True, truncate=False)

-RECORD 0----------------------
 experience_level   | null
 biggest_salary     | 4450000
 employee_residence | JP
-RECORD 1----------------------
 experience_level   | null
 biggest_salary     | 6000000
 employee_residence | IN
-RECORD 2----------------------
 experience_level   | middle
 biggest_salary     | 30400000
 employee_residence | CL
-RECORD 3----------------------
 experience_level   | senior
 biggest_salary     | 7000000
 employee_residence | IN

write df_new_best like 1.csv and load then it to df_final

In [13]:
df_new_best.toPandas().to_csv("1.csv", index=False)
df_final = spark.read.option("header", True).csv("1.csv")

print df_final

In [36]:
df_final.show(df_final.count(), vertical=True, truncate=False)

-RECORD 0----------------------
 experience_level   | null
 biggest_salary     | 4450000
 employee_residence | JP
-RECORD 1----------------------
 experience_level   | null
 biggest_salary     | 6000000
 employee_residence | IN
-RECORD 2----------------------
 experience_level   | middle
 biggest_salary     | 30400000
 employee_residence | CL
-RECORD 3----------------------
 experience_level   | senior
 biggest_salary     | 7000000
 employee_residence | IN

filter df_final to delete experience_level where it Null, then join this table by biggest_salary(salary_in_usd) and employee_residence with entire df

In [14]:
df_final = ( df_final.filter(df_final["experience_level"].isNotNull()).join(
        df,
        (df_final["employee_residence"] == df["employee_residence"])
        & (df_final["biggest_salary"] == df["salary"]),
        how="inner",
    )
)

print df_final

In [15]:
df_final.show(df_final.count(), vertical=True, truncate=False)

-RECORD 0----------------------------------
 experience_level   | middle
 biggest_salary     | 30400000
 employee_residence | CL
 id                 | 177
 work_year          | 2021
 experience_level   | MI
 employment_type    | FT
 job_title          | Data Scientist
 salary             | 30400000
 salary_currency    | CLP
 salary_in_usd      | 40038
 employee_residence | CL
 remote_ratio       | 100
 company_location   | CL
 company_size       | L
-RECORD 1----------------------------------
 experience_level   | senior
 biggest_salary     | 7000000
 employee_residence | IN
 id                 | 285
 work_year          | 2021
 experience_level   | SE
 employment_type    | FT
 job_title          | Data Science Manager
 salary             | 7000000
 salary_currency    | INR
 salary_in_usd      | 94665
 employee_residence | IN
 remote_ratio       | 50
 company_location   | IN
 company_size       | L

last task is to save in variable and then print this variable of the biggest salary_in_usd from df_final

In [19]:
value = df_final.select(max(df_final["salary_in_usd"])).collect()[0]["max(salary_in_usd)"]
print(value)

94665

It is the end of PySpark basics. In other lessons you will learn optimizations technics and how to make distributed system